{
  "contracts": {
    "ImperfectBreath": {
      "source": "cadence/contracts/ImperfectBreath.cdc"
    }
  },
  "networks": {
    "emulator": "127.0.0.1:3569",
    "testnet": "access.devnet.nodes.onflow.org:9000",
    "mainnet": "access.mainnet.nodes.onflow.org:9000"
  },
  "accounts": {
    "emulator-account": {
      "address": "f8d6e0586b0a20c7",
      "key": {
        "type": "hex",
        "index": 0,
        "signatureAlgorithm": "ECDSA_P256",
        "hashAlgorithm": "SHA3_256",
        "privateKey": "YOUR_PRIVATE_KEY_HERE"
      }
    },
    "testnet-account": {
      "address": "YOUR_TESTNET_ADDRESS_HERE",
      "key": {
        "type": "hex",
        "index": 0,
        "signatureAlgorithm": "ECDSA_secp256k1",
        "hashAlgorithm": "SHA2_256",
        "privateKey": "YOUR_PRIVATE_KEY_HERE"
      }
    },
    "mainnet-account": {
      "address": "YOUR_MAINNET_ADDRESS_HERE",
      "key": {
        "type": "hex",
        "index": 0,
        "signatureAlgorithm": "ECDSA_secp256k1",
        "hashAlgorithm": "SHA2_256",
        "privateKey": "YOUR_MAINNET_PRIVATE_KEY_HERE"
      }
    }
  },
  "deployments": {
    "emulator": {
      "emulator-account": ["ImperfectBreath"]
    },
    "testnet": {
      "testnet-account": ["ImperfectBreath"]
    },
    "mainnet": {
      "mainnet-account": ["ImperfectBreath"]
    }
  }
}
